.modal-flag {
  width: 40px;
  height: auto;
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.modal-header {
  display: flex;
  align-items: center;
}

.modal-figure {
  margin-top: 20px;
}

.modal-image {
  width: 100%;
  margin-bottom: 10px;
}

.modal-caption {
  text-align: center;
  font-size: 0.875rem;
  color: #666;
}

.additional-info-box {
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 15px;
  border-left: 4px solid #007bff;
}

.additional-info-box h6 {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}

.modal-sources {
  margin-top: 20px;
  font-size: 0.875rem;
}

body {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;

  padding-top: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 0px;
  margin-top: 40px;
}

.botao {
  padding: 2px 6px;
  font-size: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #0056b3;
}

.slidecontainer {
  flex-grow: 1;
  margin: 0 10px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.slider {
  width: 100%;
  height: 10px;
  background: #98fe9d;
  outline: none;
  opacity: 0.9;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: #000000;
  cursor: pointer;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
}


.marker {
  position: absolute;
  font-size: 14px;
  text-align: center;
  max-width: 120px;
  transform: translateX(-50%);
  top: 20px;
  white-space: nowrap;
  /* Impede quebra de linha */
}

.marker-title {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 2px;
}

.marker-subtitle {
  font-size: 12px;
  color: #555;
  display: block;
  white-space: normal;
}

#tooltip {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  display: none;
  text-align: center;
  max-width: 20vw;
  max-height: 30vh;
  overflow: auto;
  font-size: 14px;
}

.tooltip-image {
  max-width: 120px;
  max-height: 120px;
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
}

.tooltip-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.tooltip-text {
  text-align: center;
  font-size: 15px;
}

svg {
  width: 59%;
  height: auto;
  margin: 0 auto;
  display: block;
}


.card {
  width: 320px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 20px;
  
}

.card h5 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.card .btn-primary {
  background-color: #007bff;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.card .btn-primary:hover {
  background-color: #0056b3;
}

.legend-item {
  display: flex;
  align-items: center;

  margin-bottom: 8px;
  /* Ajuste menor do espaçamento entre itens */
  font-size: 12px;
}

.legend-item:last-child {
  margin-bottom: 5px;
  /* Diminuir o espaço abaixo do último item */
}

.legend-item span {
  margin-left: 12px;
  font-size: 14px;
  color: #555;
}

.legend-color {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #333;
}

.legend {
  margin-bottom: 10px;
  columns: 2;
}

.map-overlay {
  position: absolute;
  top: 150px;
  right: 20px;
  width: 370px;
  background-color: white;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.map-overlay h5 {
  font-size: 20px;
  margin-bottom: 12px;
  color: #333;
}

.map-overlay p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.modal-category {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.modal-square {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border: 1px solid #333;
  border-radius: 3px;
}

.settings-icon {
  position: fixed;
  top: 0px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
}

.settings-icon i {
  color: #333;
}

.tutorial-gif {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.tutorial-text {
  text-align: center;
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.d-none {
  display: none !important;
}

.modal-dialog.modal-dialog-centered {
  max-width: 80%;
  /* Aumenta a largura máxima do modal */
  width: 100%;
  /* Faz o modal ocupar toda a largura disponível */
}

.modal-content {
  padding: 20px;
  /* Adiciona espaçamento interno para evitar que o conteúdo fique muito próximo das bordas */
}

@keyframes pernambucoDestaque {
  0% {
    fill: #33a02c;
  }

  100% {
    fill: #0c240a;
  }
}

@keyframes saoVicenteDestaque {
  0% {
    fill: #79bae9ff;
  }

  100% {
    fill: #0c240a;
  }
}

@keyframes saoVicente2Destaque {
  0% {
    fill: #c6dfedff;
  }

  100% {
    fill: rgb(9, 24, 32);
  }
}